.m-fullsearch {
  @include grid-row();
  input, a {
    height:      3rem;
    line-height: 2.8rem;
    @media #{$medium-up} {
      font-size: 1.5em;
    }
  }
}

.m-fullsearch--form {
  @include grid-row(collapse);
}

.m-fullsearch--field {
  @include grid-column($columns: 8, $offset: 1, $collapse: true);
}

.m-fullsearch--button {
  @include grid-column($columns: 2, $collapse: true);
  a {
    @extend .postfix;
    @extend .button;
  }
}
