.top-bar {
  position: fixed;
  top:      0;
  width:    100%;
  z-index:  100;
}

.m-menu--search .has-form {
  float: none;
}

.top-bar .title-area {
  z-index: 2;
}

.top-bar .name h1 a.m-menu--title {
  background:      url('/images/tekusage.png') no-repeat;
  background-size: 100%;
  display:         inline-block;
  height:          50px;
  margin-left:     10px;
  margin-top:      10px;
  text-indent:     -3000px;
  width:           150px;
}

.top-bar input, .top-bar .button {
  height:      2.6rem;
  line-height: 1.8rem;
  margin-top:  2px;
}

.top-bar input {
  font-size :1em;
}
