$primary-color: #e85c41;
$primary-background: #f2f2f2;
$secondary-background: #fff;

$topbar-bg-color: $secondary-background !default;
$topbar-height: 60px !default;
$topbar-menu-link-color: $primary-color;
$topbar-menu-icon-color: $primary-color;
