<div class="m-highlight">
  <p class="m-highlight--explanation">
    Find the <span word-modification="technologies" class="m-highlight--technology"></span> job of your dreams.
  </p>
</div>
<div class="m-fullsearch">
  <div class="m-fullsearch--field">
    <input type="text" >
  </div>
  <div class="m-fullsearch--button">
    <a href="#" class="button postfix">search</a>
  </div>
</div>
<div class="m-callout">
  <h2>Why use Tekusage?</h2>
  <ul class="m-reasons">
    <li class="m-reason">
      <i class="fa fa-globe"></i>
      <p>
        You can find companies using your preferred technologies around
        the world.
      </p>.
    </li>
    <li class="m-reason">
      <i class="fa fa-location-arrow"></i>
      <p>
        Contact only the companies you want. You don't need to search
        through a job offer list. Pick the companies that matches your
        criterias and contact them directly.
      </p>.
    </li>
    <li class="m-reason">
      <i class="fa fa-github"></i>
      <p>
        All the website and the companies databse is open source
        and available on <a href="https://github.com/kdisneur/tekusage">Github</a>
      </p>.
    </li>
    <li class="m-reason">
      <i class="fa fa-cloud"></i>
      <p>
        You don't have to install it on your own server to enjoy it.
      </p>.
    </li>
  </ul>
</div>
<div class="companies">
  <div ng-include="companiesPartialName()"></div>
</div>
