<div class="m-highlight">
  <p class="m-highlight--explanation">
    {{'highlight.explanation.prefix' | translate}}
    <span word-modification="technologies" class="m-highlight--technology"></span>
    {{'highlight.explanation.suffix' | translate}}
  </p>
</div>
<div class="m-fullsearch">
  <div class="m-fullsearch--field">
    <input type="text" >
  </div>
  <div class="m-fullsearch--button">
    <a href="#" class="button postfix" translate="search.button"></a>
  </div>
</div>
<div class="m-reasons-wrapper">
  <h2 class="m-reasons--title" translate="reasons.title"></h2>
  <ul class="m-reasons">
    <li class="m-reason wow fadeInDown">
      <i class="fa fa-globe"></i>
      <p translate="reasons.global"></p>.
    </li>
    <li class="m-reason wow fadeInDown">
      <i class="fa fa-location-arrow"></i>
      <p translate="reasons.pick"></p>.
    </li>
    <li class="m-reason wow fadeInDown">
      <i class="fa fa-github"></i>
      <p translate="reasons.opensource"></p>.
    </li>
  </ul>
</div>
<div class="m-companies">
  <div ng-include="companiesPartialName()" data-equalizer></div>
</div>
